In [2]:
print("Ahnaf Hasnain ..")

Ahnaf Hasnain ..

In [1]:
a = 5
b = 6
c = a+b
print("Total sum =",c)

Total sum = 11

In [6]:
first_name = 'Ahnaf'
last_name  = 'Nahiun'
print("My First name is {} and my second name is {} ".format(first_name,last_name))

My First name is Ahnaf and my second name is Nahiun

In [7]:
len("Ahnaf")

5

In [8]:
type("Ahnaf")

str

In [9]:
type(5)

int

In [10]:
type(['a',2,3,4])

list

In [12]:
type(False)

bool

In [ ]:
my_str = 'AHNAF123N'

In [18]:
my_str = 'AHNAF123N'
print(my_str.isalnum())
print(my_str.isalpha())  #CECK FUNCTIONS 
print(my_str.isdigit())
print(my_str.startswith('A'))
print(my_str.endswith('N'))

True
False
False
True
True

In [1]:
x,y = 2, 10
x *= y * x +1
print(x)

42

In [8]:
class A:
    def __init__(self, value):
        self.value = value

    def method(self):
        print("This is a method of class A")
        
class B(A):
    def another_method(self):
        print("This is another method of class B")

# Creating objects of both classes
objA = A(5)
objB = B(10)

# Accessing attributes and methods of objects
print(objA.value)       # Output: 5
objA.method()           # Output: "This is a method of class A"

print(objB.value)       # Output: 10 (inherited from A)
objB.method()           # Output: "This is a method of class A" (inherited from A)
objB.another_method()   # Output: "This is another method of class B"

5
This is a method of class A
10
This is a method of class A
This is another method of class B